.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.results-container {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.result-card {
    cursor: pointer;
    margin-bottom: 10px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
}