h1 {
    font-style: italic;
}

.card-link-article-small {
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 5px;
    //width: 100px;
    background-color: #3F51B5;
    color: white;
}

.card-link-article-normal {
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
    background-color: #3F51B5;
    color: white;
}