.card-link-article {
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
    background-color: #3F51B5;
    color: white;
}

.breadcrumbs-mobile {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-top: -0.5rem;        //on mobile necessary
    //margin-bottom: -0.5rem;     //on mobile necessary
    background-color: white;
    //shadow at bottom
    border-bottom: 1px solid #e0e0e0;
}

.breadcrumbs-desktop {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    padding-top: 0.5rem;      //on mobile not necessary
    padding-bottom: 0.5rem;   //on mobile not necessary
    margin-bottom: 10px;      //on mobile not necessary
}

.h1-article-mobile {
    margin-top: 10px;
    //margin-top: 0px; //removed because negative margin on breadcrumbs was removed
}

.nav-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
    causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
    padding: 1rem;
}

.sidenav-header {
    font-weight: bold;
    color: #1976d2;
    cursor: pointer;
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;
    transition: background-color 0.5s; //make it so that the node shows when it was clicked (in combination with node:active)
}
//styling that uses the node class and expands it when it is clicked
.sidenav-header:active {
    background-color: #cbdff3; /* Adjust the color as needed */
    border-radius: 10px;
}

.bookmark {
    position: absolute;
    width: 50px;
    height: 60px;
    background-color: #3584d3; /* Adjust the color as needed */
    color: white;
    border: none;
    border-radius: 0 0 22px 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.bookmark mat-icon {
    font-size: 24px;
}

.bookmark-close {
    top: 0px;
    right: 40px;
}

.bookmark-search {
    top: 0px;
    right: 100px;
}