.card-link-article {
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
    background-color: #3F51B5;
    color: white;
}

.breadcrumbs-mobile {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    margin-top: -0.5rem;        //on mobile necessary
    margin-bottom: -0.5rem;     //on mobile necessary
}

.breadcrumbs-desktop {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    padding-top: 0.5rem;      //on mobile not necessary
    padding-bottom: 0.5rem;   //on mobile not necessary
    margin-bottom: 10px;      //on mobile not necessary
}

.h1-article-mobile {
    margin-top: 10px;
}

.nav-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
    causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
    padding: 1rem;
}