<app-main-header></app-main-header>

<div class="page" fxLayout="row" fxLayoutAlign="center">
  <div class="container" fxLayout="row" fxLayoutAlign="center"> 

    <div style="margin-top: 10px; width:100%; max-width: 600px;">

      <div fxLayout="row" fxLayoutAlign="space-between center">

        <h1>Rules - Table of Content</h1>
  
        <button mat-fab color="primary" (click)="openSearchDialog()">
          <mat-icon>search</mat-icon>
        </button>
  
      </div>
  
      <app-rules-menu [majorMode]="true"></app-rules-menu>

    </div>

    

  </div>
</div>