<div fxLayout="row" fxLayoutAlign="center">
  <div class="container">

    <mat-expansion-panel hideToggle (opened)="advancedFiltersPanelOpen = true"
      (closed)="advancedFiltersPanelOpen = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Filters
        </mat-panel-title>
        <mat-panel-description>
          Press to {{advancedFiltersPanelOpen ? 'hide' : 'show'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div fxLayout="row wrap" fxLayoutAlign="left" fxLayoutAlign.lt-sm="center">

        <div fxLayout="column" class="filter-select">
          <div>Spell Level</div>
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="selectedFiltersLevel"
              (ngModelChange)="addFilterMulti(optionsLevel, selectedFiltersLevel)" multiple="true"
              placeholder="Select Level">
              <mat-option *ngFor="let filter of optionsLevel" [value]="filter">
                {{filter.displayTextList}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="column" class="filter-select">
          <div>Spell School</div>
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="selectedFiltersSchool"
              (ngModelChange)="addFilterMulti(optionsSchool, selectedFiltersSchool)" multiple="true"
              placeholder="Select School">
              <mat-option *ngFor="let filter of optionsSchool" [value]="filter">
                {{filter.displayTextList}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="column" class="filter-select">
          <div>Class</div>
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="selectedFiltersClass"
              (ngModelChange)="addFilterMulti(optionsClass, selectedFiltersClass)" multiple="true"
              placeholder="Select Class">
              <mat-option *ngFor="let filter of optionsClass" [value]="filter">
                {{filter.displayTextList}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="column" class="filter-select">
          <div>Subclass</div>
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="selectedFiltersSubclass"
              (ngModelChange)="addFilterMulti(optionsSubclass, selectedFiltersSubclass)" multiple="true"
              placeholder="Select Subclass">
              <mat-option *ngFor="let filter of optionsSubclass" [value]="filter">
                {{filter.displayTextList}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="column" class="filter-button-select">
          <div style="text-align: center;">Ritual</div>
          <div style="text-align: center;">
            <mat-button-toggle-group multiple="true" [(ngModel)]="selectedFiltersRitual">
              <mat-button-toggle value="true" (click)="addFilterRitual(true)">Yes</mat-button-toggle>
              <mat-button-toggle value="false" (click)="addFilterRitual(false)">No</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>

        <div fxLayout="column" class="filter-button-select">
          <div style="text-align: center;">Concentration</div>
          <div style="text-align: center;">
            <mat-button-toggle-group multiple="true" [(ngModel)]="selectedFiltersConcentration">
              <mat-button-toggle value="true" (click)="addFilterConcentration(true)">Yes</mat-button-toggle>
              <mat-button-toggle value="false" (click)="addFilterConcentration(false)">No</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>

        <div fxLayout="column" class="filter-select">
          <div>Casting Time</div>
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="selectedFiltersCastingTime"
              (ngModelChange)="addFilterMulti(optionsCastingTime, selectedFiltersCastingTime)" multiple="true"
              placeholder="Select Casting Time">
              <mat-option *ngFor="let filter of optionsCastingTime" [value]="filter">
                {{filter.displayTextList}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="column" class="filter-select">
          <div>Duration</div>
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="selectedFiltersDuration"
              (ngModelChange)="addFilterMulti(optionsDuration, selectedFiltersDuration)" multiple="true"
              placeholder="Select Duration">
              <mat-option *ngFor="let filter of optionsDuration" [value]="filter">
                {{filter.displayTextList}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="column" class="filter-select">
          <div>Damage Type</div>
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="selectedFiltersDamageType"
              (ngModelChange)="addFilterMulti(optionsDamageType, selectedFiltersDamageType)" multiple="true"
              placeholder="Select Damage Type">
              <mat-option *ngFor="let filter of optionsDamageType" [value]="filter">
                {{filter.displayTextList}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="column" class="filter-select">
          <div>Source</div>
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="selectedFiltersSource"
              (ngModelChange)="addFilterMulti(optionsSource, selectedFiltersSource)" multiple="true"
              placeholder="Select Source">
              <mat-option *ngFor="let filter of optionsSource" [value]="filter">
                {{filter.displayTextList}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>

    </mat-expansion-panel>


    <div class="big-top-gap" style="margin-bottom: -1rem;" *ngIf="filters.length > 0">

      <mat-chip-list>
        <mat-chip class="spell-class-chip" *ngFor="let filter of filters" [selectable]=false [removable]=true
          (removed)="onFilterRemoved(filter)" [matTooltip]="filter.tooltip">
          {{filter.displayText}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>

      <button mat-button color="primary" (click)="onAllFiltersRemoved()">Clear all Filters</button>

    </div>



    <div fxLayout="row" fxLayoutAlign="space-between" class="big-top-gap">

      <div>
        <mat-form-field appearance="legacy" style="font-size: larger; margin-left: 0.5rem;">
          <mat-label>
            <mat-icon>search</mat-icon>
            <!-- Filter by Name -->
          </mat-label>
          <input matInput name="name" [(ngModel)]="filterName" (keyup)="onChange()">
        </mat-form-field>
      </div>

      <div class="spell-number">
        <div class="content">{{spellsFiltered.length}}
          {{spellsFiltered.length === 1 ? 'spell' : 'spells'}}</div>
      </div>

    </div>

    <div class="big-top-gap" *ngIf="spellsFiltered.length === 0" style="font-style: italic; text-align: center;">- No
      matching spells found. Check the filter settings. -</div>


    <template id="welcome-msg">
      <h1>Hello, World!</h1>
      <p>And all who inhabit it</p>
    </template>

    welcome-msg

    <mat-accordion hideToggle="false" multi="false">

      <mat-expansion-panel #panel *ngFor="let spell of spellsToShow; let i = index"
        [expanded]="i === expandedPanelIndex" (opened)="expandedPanelIndex = i"
        (closed)="onSpellExpansionPanelClosed(i)">

        <mat-expansion-panel-header>

          <div *ngIf="i != expandedPanelIndex" fxLayout="row">

            <div *ngIf="!screenSm" fxLayout="column" style="width: 10px;">
              <div class="spell-expansion-header, spell-expansion-name" style="width: max-content;">
                {{spell.name}}
              </div>
              <div class="spell-expansion-header, spell-expansion-extra" style="width: max-content;">
                {{spell.levelSchoolDisplay}}
              </div>
            </div>
            <div *ngIf="screenSm" fxLayout="column" style="width: 10px;">
              <div class="spell-expansion-header, spell-expansion-name" style="width: 300px;">
                {{spell.name}}
                <span><img *ngIf="spell.ritual" class="image" src="assets/images/ritual.png"></span>
                <span><img *ngIf="spell.concentration" class="image" src="assets/images/concentration.png"></span>
              </div>
              <div class="spell-expansion-header, spell-expansion-extra" style="width: 300px;">
                {{spell.school}}<span *ngIf="!screenMd && spell.ritual"> (ritual)</span><span
                  *ngIf="!screenXl && spell.concentration"> (concentration)</span>
              </div>
            </div>
            <div *ngIf="screenSm" class="spell-expansion-properties" style="margin-left: 345px; width: 75px;">
              {{spell.levelDisplay}}<span *ngIf="spell.upcastable"> *</span>
            </div>
            <div *ngIf="screenMd" class="spell-expansion-properties" style="margin-left: 60px; width: 115px;">
              {{spell.castingTimeDisplayList}}
              <span *ngIf="spell.ritual">
                <img class="image" src="assets/images/ritual.png">
              </span>
            </div>
            <div *ngIf="screenLg" class="spell-expansion-properties" style="margin-left: 60px; width: 85px;">
              {{spell.componentsDisplayList}} <span *ngIf="spell.componentsValue">*</span><span
                *ngIf="spell.componentsConsumed">*</span>
            </div>
            <div *ngIf="screenXl" class="spell-expansion-properties" style="margin-left: 50px; width: 150px;">
              {{spell.range}}
            </div>
            <div *ngIf="screenXl" class="spell-expansion-properties" style="margin-left: 30px; width: 150px;">
              <span *ngIf="spell.concentration">
                <img class="image" src="assets/images/concentration.png">
              </span>
              {{spell.durationDisplayList}}
            </div>
          </div>


          <div *ngIf="i === expandedPanelIndex">
            <div class="spell-expansion-name">
              {{spell.name}}
            </div>
            <div class="spell-expansion-extra">
              {{spell.levelSchoolDisplay}}
            </div>
          </div>

          <!-- <div *ngIf="i != expandedPanelIndex" fxLayout="column" style="width: 10px">
            <div class="spell-expansion-header" style="font-size: larger;" fxLayout="row">
              <div style="width: 400px;">{{spell.name}}</div>
              <div style="font-size: medium;">{{spell.castingTime}}</div>
            </div>
            <div class="spell-expansion-header"
              style="font-size: small; font-style: italic; padding-left: 0.25rem; color:gray; ">
              {{spell.levelSchoolDisplay}}
            </div>
          </div>

          <div *ngIf="i === expandedPanelIndex">
            <div style="font-size: larger;">
              {{spell.name}}
            </div>
            <div style="font-size: small; font-style: italic; padding-left: 0.25rem; color:gray; ">
              {{spell.levelSchoolDisplay}}
            </div>
          </div> -->

        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <div>

            <div>
              <span class="spell-property-denotation">Casting time:</span>
              <span class="spell-property-description">{{spell.castingTime}}</span>
            </div>

            <div>
              <span class="spell-property-denotation">Range:</span>
              <span class="spell-property-description">{{spell.range}}</span>
            </div>

            <div>
              <span class="spell-property-denotation">Components:</span>
              <span class="spell-property-description">{{spell.componentsDisplay}}</span>
            </div>

            <div>
              <span class="spell-property-denotation">Duration:</span>
              <span class="spell-property-description">{{spell.duration}}</span>
            </div>

            <div class="big-top-gap" [innerHTML]="spell.description"></div>

            <div class="medium-top-gap">
              <mat-divider></mat-divider>
            </div>


            <div class="big-top-gap">
              <span class="spell-property-denotation">Classes:</span>
              <mat-chip-list>
                <mat-chip class="spell-class-chip" *ngFor="let spellClass of spell.classes">
                  {{spellClass.name}}
                </mat-chip>
              </mat-chip-list>
              <!-- <span class="spell-property-denotation">Classes:</span>
              <span class="spell-property-description">{{spell.classesDisplay}}</span> -->
            </div>

            <div class="medium-top-gap" *ngIf="spell.subclasses.length">
              <div class="spell-property-denotation">Subclasses:</div>
              <mat-chip-list>
                <mat-chip class="spell-class-chip" *ngFor="let spellSubclass of spell.subclasses" [selectable]=false>
                  {{spellSubclass.name}}
                </mat-chip>
              </mat-chip-list>
              <!-- <span class="spell-property-denotation">Subclasses:</span> -->
              <!-- <span class="spell-property-description">{{spell.subclassesDisplay}}</span> -->
            </div>

            <div class="big-top-gap" style="font-style: italic;">{{spell.source}}</div>

          </div>
        </ng-template>

      </mat-expansion-panel>

    </mat-accordion>


  </div>
</div>
