<div fxLayout="row" fxLayoutAlign="center">
  <div *ngIf="!loading" class="container">

    <div div fxLayout="row" fxLayoutAlign="end center">
      <div></div>
      <button color="primary" mat-button (click)="onTranslateAll()"
        matTooltip="{{translateAll ? 'Switch descriptions to english' : 'Beschreibungen zu Deutsch wechseln'}}">
        {{translateAll ? 'English' : 'Deutsch'}} <mat-icon>translate</mat-icon>
      </button>
    </div>

    <mat-expansion-panel hideToggle (opened)="advancedFiltersPanelOpen = true"
      (closed)="advancedFiltersPanelOpen = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Filters
        </mat-panel-title>
        <mat-panel-description>
          Press to {{advancedFiltersPanelOpen ? 'hide' : 'show'}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div fxLayout="row wrap" fxLayoutAlign="left" fxLayoutAlign.lt-sm="space-evenly center">

        <div fxLayout="column" class="filter-select">
          <div>Spell Level</div>
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="selectedFiltersLevel"
              (ngModelChange)="addFilterMulti(optionsLevel, selectedFiltersLevel)" multiple="true">
              <mat-select-trigger>
                <span class="filter-selection-number">{{selectedFiltersLevel.length}} selected</span>
              </mat-select-trigger>
              <mat-option *ngFor="let filter of optionsLevel" [value]="filter">
                {{filter.displayTextList}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="column" class="filter-select">
          <div>Class</div>
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="selectedFiltersClass"
              (ngModelChange)="addFilterMulti(optionsClass, selectedFiltersClass)" multiple="true">
              <mat-select-trigger>
                <span class="filter-selection-number">{{selectedFiltersClass.length}} selected</span>
              </mat-select-trigger>
              <mat-option *ngFor="let filter of optionsClass" [value]="filter">
                {{filter.displayTextList}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="column" class="filter-select">
          <div>Category</div>
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="selectedFiltersTag"
              (ngModelChange)="addFilterMulti(optionsTag, selectedFiltersTag)" multiple="true">
              <mat-select-trigger>
                <span class="filter-selection-number">{{selectedFiltersTag.length}} selected</span>
              </mat-select-trigger>
              <mat-option *ngFor="let filter of optionsTag" [value]="filter">
                {{filter.displayTextList}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="column" class="filter-select">
          <div>Preset</div>
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="selectedFiltersPreset"
              (ngModelChange)="addFilterMulti(optionsPreset, selectedFiltersPreset)" multiple="true">
              <mat-select-trigger>
                <span class="filter-selection-number">{{selectedFiltersPreset.length}} selected</span>
              </mat-select-trigger>
              <mat-option *ngFor="let filter of optionsPreset" [value]="filter">
                {{filter.displayTextList}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="column" class="filter-select">
          <div>Casting Time</div>
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="selectedFiltersCastingTime"
              (ngModelChange)="addFilterMulti(optionsCastingTime, selectedFiltersCastingTime)" multiple="true">
              <mat-select-trigger>
                <span class="filter-selection-number">{{selectedFiltersCastingTime.length}} selected</span>
              </mat-select-trigger>
              <mat-option *ngFor="let filter of optionsCastingTime" [value]="filter">
                {{filter.displayTextList}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="column" class="filter-select">
          <div>Attack\Save</div>
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="selectedFiltersAttackSave"
              (ngModelChange)="addFilterMulti(optionsAttackSave, selectedFiltersAttackSave)" multiple="true">
              <mat-select-trigger>
                <span class="filter-selection-number">{{selectedFiltersAttackSave.length}} selected</span>
              </mat-select-trigger>
              <mat-option *ngFor="let filter of optionsAttackSave" [value]="filter">
                {{filter.displayTextList}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="column" class="filter-button-select">
          <div style="text-align: center;">Ritual <img class="image" src="assets/images/ritual.png"></div>
          <div style="text-align: center;">
            <mat-button-toggle-group multiple="true" [(ngModel)]="selectedFiltersRitual">
              <mat-button-toggle value="true" (click)="addFilterToggle(optionsRitual, true)">Yes</mat-button-toggle>
              <mat-button-toggle value="false" (click)="addFilterToggle(optionsRitual, false)">No</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>

        <div fxLayout="column" class="filter-button-select">
          <div style="text-align: center;">Concentration <img class="image" src="assets/images/concentration.png"></div>
          <div style="text-align: center;">
            <mat-button-toggle-group multiple="true" [(ngModel)]="selectedFiltersConcentration">
              <mat-button-toggle value="true" (click)="addFilterToggle(optionsConcentration, true)">Yes
              </mat-button-toggle>
              <mat-button-toggle value="false" (click)="addFilterToggle(optionsConcentration, false)">No
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>

        <div fxLayout="column" class="filter-select">
          <div>Subclass</div>
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="selectedFiltersSubclass"
              (ngModelChange)="addFilterMulti(optionsSubclass, selectedFiltersSubclass)" multiple="true">
              <mat-select-trigger>
                <span class="filter-selection-number">{{selectedFiltersSubclass.length}} selected</span>
              </mat-select-trigger>
              <mat-option *ngFor="let filter of optionsSubclass" [value]="filter">
                {{filter.displayTextList}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="column" class="filter-select">
          <div>Source</div>
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="selectedFiltersSource"
              (ngModelChange)="addFilterMulti(optionsSource, selectedFiltersSource)" multiple="true">
              <mat-select-trigger>
                <span class="filter-selection-number">{{selectedFiltersSource.length}} selected</span>
              </mat-select-trigger>
              <mat-optgroup *ngFor="let group of optionsSourceGroups" [label]="group.name">
                <mat-option *ngFor="let filter of group.filters" [value]="filter">
                  {{filter.displayTextList}}</mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
        </div>

      </div>


      <div *ngIf="screenSm" class="medium-gap">
        <mat-divider></mat-divider>
      </div>


      <div *ngIf="!screenSm" class="big-gap" fxLayout="row" fxLayoutAlign="center">
        <button mat-raised-button color="primary" style="vertical-align: center;"
          (click)="showAdvancedFilters = !showAdvancedFilters">
          <span *ngIf="showAdvancedFilters">Hide Advanced Filters</span>
          <span *ngIf="!showAdvancedFilters">Show Advanced Filters</span>
        </button>
      </div>

      <div *ngIf="showAdvancedFilters || screenSm" fxLayout="row wrap" fxLayoutAlign="left"
        fxLayoutAlign.lt-sm="space-evenly center">

        <div fxLayout="column" class="filter-select">
          <div>Spell School</div>
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="selectedFiltersSchool"
              (ngModelChange)="addFilterMulti(optionsSchool, selectedFiltersSchool)" multiple="true">
              <mat-select-trigger>
                <span class="filter-selection-number">{{selectedFiltersSchool.length}} selected</span>
              </mat-select-trigger>
              <mat-option *ngFor="let filter of optionsSchool" [value]="filter">
                {{filter.displayTextList}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="column" class="filter-select">
          <div>Damage Type</div>
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="selectedFiltersDamageType"
              (ngModelChange)="addFilterMulti(optionsDamageType, selectedFiltersDamageType)" multiple="true">
              <mat-select-trigger>
                <span class="filter-selection-number">{{selectedFiltersDamageType.length}} selected</span>
              </mat-select-trigger>
              <mat-option *ngFor="let filter of optionsDamageType" [value]="filter">
                {{filter.displayTextList}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="column" class="filter-button-select">
          <div style="text-align: center;">Casting Ability</div>
          <div style="text-align: center;">
            <mat-button-toggle-group multiple="true" [(ngModel)]="selectedFiltersSpellMod">
              <mat-button-toggle value="true" (click)="addFilterToggle(optionsSpellMod, true)">Yes</mat-button-toggle>
              <mat-button-toggle value="false" (click)="addFilterToggle(optionsSpellMod, false)">No
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>

        <div fxLayout="column" class="filter-button-select">
          <div style="text-align: center;">Upcastable <img class="image" src="assets/images/arrow.png"></div>
          <div style="text-align: center;">
            <mat-button-toggle-group multiple="true" [(ngModel)]="selectedFiltersUpcastable">
              <mat-button-toggle value="true" (click)="addFilterToggle(optionsUpcastable, true)">Yes</mat-button-toggle>
              <mat-button-toggle value="false" (click)="addFilterToggle(optionsUpcastable, false)">No
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>

        <div fxLayout="column" class="filter-button-select">
          <div style="text-align: center;">Verbal (V)</div>
          <div style="text-align: center;">
            <mat-button-toggle-group multiple="true" [(ngModel)]="selectedFiltersComponentV">
              <mat-button-toggle value="true" (click)="addFilterToggle(optionsComponentV, true)">Yes</mat-button-toggle>
              <mat-button-toggle value="false" (click)="addFilterToggle(optionsComponentV, false)">No
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>

        <div fxLayout="column" class="filter-button-select">
          <div style="text-align: center;">Somatic (S)</div>
          <div style="text-align: center;">
            <mat-button-toggle-group multiple="true" [(ngModel)]="selectedFiltersComponentS">
              <mat-button-toggle value="true" (click)="addFilterToggle(optionsComponentS, true)">Yes</mat-button-toggle>
              <mat-button-toggle value="false" (click)="addFilterToggle(optionsComponentS, false)">No
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>

        <div fxLayout="column" class="filter-button-select">
          <div style="text-align: center;">Material (M)</div>
          <div style="text-align: center;">
            <mat-button-toggle-group multiple="true" [(ngModel)]="selectedFiltersComponentM">
              <mat-button-toggle value="true" (click)="addFilterToggle(optionsComponentM, true)">Yes</mat-button-toggle>
              <mat-button-toggle value="false" (click)="addFilterToggle(optionsComponentM, false)">No
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>

        <div fxLayout="column" class="filter-button-select">
          <div style="text-align: center;">Value <img class="image" src="assets/images/coins.png"></div>
          <div style="text-align: center;">
            <mat-button-toggle-group multiple="true" [(ngModel)]="selectedFiltersMaterialValue">
              <mat-button-toggle value="true" (click)="addFilterToggle(optionsMaterialValue, true)">Yes
              </mat-button-toggle>
              <mat-button-toggle value="false" (click)="addFilterToggle(optionsMaterialValue, false)">No
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>

        <div fxLayout="column" class="filter-button-select">
          <div style="text-align: center;">M consumed <img class="image" src="assets/images/coins.png"></div>
          <div style="text-align: center;">
            <mat-button-toggle-group multiple="true" [(ngModel)]="selectedFiltersMaterialConsumed">
              <mat-button-toggle value="true" (click)="addFilterToggle(optionsMaterialConsumed, true)">Yes
              </mat-button-toggle>
              <mat-button-toggle value="false" (click)="addFilterToggle(optionsMaterialConsumed, false)">No
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>

        <div fxLayout="column" class="filter-select">
          <div>Required Save</div>
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="selectedFiltersSave"
              (ngModelChange)="addFilterMulti(optionsSave, selectedFiltersSave)" multiple="true">
              <mat-select-trigger>
                <span class="filter-selection-number">{{selectedFiltersSave.length}} selected</span>
              </mat-select-trigger>
              <mat-option *ngFor="let filter of optionsSave" [value]="filter">
                {{filter.displayTextList}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="column" class="filter-select">
          <div>Attack Type</div>
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="selectedFiltersAttackType"
              (ngModelChange)="addFilterMulti(optionsAttackType, selectedFiltersAttackType)" multiple="true">
              <mat-select-trigger>
                <span class="filter-selection-number">{{selectedFiltersAttackType.length}} selected</span>
              </mat-select-trigger>
              <mat-option *ngFor="let filter of optionsAttackType" [value]="filter">
                {{filter.displayTextList}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="column" class="filter-select">
          <div>Duration</div>
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="selectedFiltersDuration"
              (ngModelChange)="addFilterMulti(optionsDuration, selectedFiltersDuration)" multiple="true">
              <mat-select-trigger>
                <span class="filter-selection-number">{{selectedFiltersDuration.length}} selected</span>
              </mat-select-trigger>
              <mat-option *ngFor="let filter of optionsDuration" [value]="filter">
                {{filter.displayTextList}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="column" class="filter-select">
          <div>Condition</div>
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="selectedFiltersCondition"
              (ngModelChange)="addFilterMulti(optionsCondition, selectedFiltersCondition)" multiple="true">
              <mat-select-trigger>
                <span class="filter-selection-number">{{selectedFiltersCondition.length}} selected</span>
              </mat-select-trigger>
              <mat-option *ngFor="let filter of optionsCondition" [value]="filter">
                {{filter.displayTextList}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="column" class="filter-select">
          <div>Single Class</div>
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="selectedFiltersSingleClass"
              (ngModelChange)="addFilterMulti(optionsSingleClass, selectedFiltersSingleClass)" multiple="true">
              <mat-select-trigger>
                <span class="filter-selection-number">{{selectedFiltersSingleClass.length}} selected</span>
              </mat-select-trigger>
              <mat-option *ngFor="let filter of optionsSingleClass" [value]="filter">
                {{filter.displayTextList}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="column" class="filter-select">
          <div>Not this Class</div>
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="selectedFiltersNotClass"
              (ngModelChange)="addFilterMulti(optionsNotClass, selectedFiltersNotClass)" multiple="true">
              <mat-select-trigger>
                <span class="filter-selection-number">{{selectedFiltersNotClass.length}} selected</span>
              </mat-select-trigger>
              <mat-option *ngFor="let filter of optionsNotClass" [value]="filter">
                {{filter.displayTextList}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="column" class="filter-select">
          <div>Single Category</div>
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="selectedFiltersSingleTag"
              (ngModelChange)="addFilterMulti(optionsSingleTag, selectedFiltersSingleTag)" multiple="true">
              <mat-select-trigger>
                <span class="filter-selection-number">{{selectedFiltersSingleTag.length}} selected</span>
              </mat-select-trigger>
              <mat-option *ngFor="let filter of optionsSingleTag" [value]="filter">
                {{filter.displayTextList}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="column" class="filter-select">
          <div>Not this Category</div>
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="selectedFiltersNotTag"
              (ngModelChange)="addFilterMulti(optionsNotTag, selectedFiltersNotTag)" multiple="true">
              <mat-select-trigger>
                <span class="filter-selection-number">{{selectedFiltersNotTag.length}} selected</span>
              </mat-select-trigger>
              <mat-option *ngFor="let filter of optionsNotTag" [value]="filter">
                {{filter.displayTextList}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="column" class="filter-button-select">
          <div style="text-align: center;">Random Spells</div>
          <div style="text-align: center;">
            <mat-slide-toggle [(ngModel)]="showRandomControls" (change)="onRandomNumberChanged(0)" color="primary">
            </mat-slide-toggle>
          </div>
        </div>
        

        <!-- <div fxLayout="column" class="filter-button-select">
          <div style="text-align: center;">Tags</div>
          <div style="text-align: center;">
            <mat-slide-toggle [(ngModel)]="showTags" color="primary">
            </mat-slide-toggle>
          </div>
        </div>

        <div class="Block">
          <label id="lbl">Test </label>
          <input type='file' (change)="fileChanged($event)">    
        </div> -->

      </div>

    </mat-expansion-panel>


    <div class="big-top-gap" style="margin-bottom: -1rem;" *ngIf="filters.length > 0">

      <mat-chip-list>
        <mat-chip class="spell-class-chip" *ngFor="let filter of filters" [selectable]=false [removable]=true
          (removed)="onFilterRemoved(filter)" [matTooltip]="filter.tooltip">
          {{filter.displayText}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>

      <button mat-button color="primary" (click)="onAllFiltersRemoved()">Clear all Filters</button>

    </div>    


    <div fxLayout="row wrap" fxLayoutAlign="left" class="big-top-gap">

      <div fxLayout="row" style="width: 225px; margin-right: 1rem;">

        <div>
          <mat-form-field appearance="legacy" style="width: 160px; font-size: larger; margin-left: 0.5rem;">
            <mat-label>
              <mat-icon>search</mat-icon>
              <!-- Filter by Name -->
            </mat-label>
            <input matInput name="name" [(ngModel)]="filterName" (keyup)="onChange()">
          </mat-form-field>
        </div>

        <div *ngIf="filterName.length > 0" style='padding-top: 16px;'>
          <button color="primary" mat-button (click)="onNameFilterCleared()">
            <mat-icon>clear</mat-icon>
          </button>
        </div>

      </div>

      <div *ngIf="showRandomControls" fxLayout="row" style='padding-bottom: 10px;'>

        <div>
          <button mat-raised-button [matMenuTriggerFor]="menu">{{stringOfRandomSpells}}</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onRandomNumberChanged(0)">0</button>
            <button mat-menu-item (click)="onRandomNumberChanged(1)">1</button>
            <button mat-menu-item (click)="onRandomNumberChanged(2)">2</button>
            <button mat-menu-item (click)="onRandomNumberChanged(3)">3</button>
            <button mat-menu-item (click)="onRandomNumberChanged(4)">4</button>
            <button mat-menu-item (click)="onRandomNumberChanged(5)">5</button>
            <button mat-menu-item (click)="onRandomNumberChanged(6)">6</button>
            <button mat-menu-item (click)="onRandomNumberChanged(7)">7</button>
            <button mat-menu-item (click)="onRandomNumberChanged(8)">8</button>
            <button mat-menu-item (click)="onRandomNumberChanged(9)">9</button>
            <button mat-menu-item (click)="onRandomNumberChanged(10)">10</button>
          </mat-menu>
        </div>

        <div *ngIf="numberOfRandomSpells > 0">
          <button color="primary" mat-button (click)="onRandomNumberChanged(numberOfRandomSpells)">
            <mat-icon>autorenew</mat-icon>
          </button>
        </div>

      </div>

      <div fxFlexAlign="end" style='margin-left: auto'>
        <div>{{spellsFiltered.length}}
          {{spellsFiltered.length === 1 ? 'spell' : 'spells'}}</div>
      </div>

    </div>

    <div class="big-top-gap" *ngIf="spellsFiltered.length === 0" style="font-style: italic; text-align: center;">- No
      matching spells found. Check the filter settings. -</div>

    <mat-accordion #expansionAccordion hideToggle="false" multi="false" style="display: block;">

      <mat-expansion-panel #panel *ngFor="let spell of spellsToShow; let i = index"
        [expanded]="i === expandedPanelIndex" (opened)="expandedPanelIndex = i"
        (closed)="onSpellExpansionPanelClosed(i)">

        <mat-expansion-panel-header>

          <div *ngIf="i != expandedPanelIndex" fxLayout="row">

            <!-- <div *ngIf="!screenSm" fxLayout="column" style="width: 10px;">
              <div class="spell-expansion-header spell-expansion-name" style="width: max-content;">
                {{spell.name}}
                <span matTooltip="{{spell.ritualTooltip}}" matTooltipShowDelay="{{tooltipDelay}}">
                  <img *ngIf="spell.ritual" class="image" src="assets/images/ritual.png">
                </span>
                <span matTooltip="{{spell.concentrationTooltip}}" matTooltipShowDelay="{{tooltipDelay}}">
                  <img *ngIf="spell.concentration" class="image" src="assets/images/concentration.png">
                </span>
                <span *ngIf="spell.componentsValue || spell.componentsConsumed" matTooltip="{{spell.materialTooltip}}"
                  matTooltipShowDelay="{{tooltipDelay}}">
                  <img class="image" src="assets/images/coins.png">
                </span>
              </div>
              <div class="spell-expansion-header spell-expansion-extra" style="width: max-content;">
                {{spell.smallDisplay}}
              </div>
            </div> -->

            <!-- <div fxLayout="column" style="width: 10px;"> -->
            <div fxLayout="column" style="width: 0px;">

              <div fxLayout="row" [style.width.px]="expansionPanelWidth < 400 ? expansionPanelWidth - 75 : 325">
                <div class="spell-expansion-header spell-expansion-name"
                  [style.max-width.px]="expansionPanelWidth < 400 ? expansionPanelWidth - 100 : 300">
                  {{spell.name}}
                </div>
                <div *ngIf="spell.ritual" class="spell-expansion-icon" matTooltip="{{spell.ritualTooltip}}"
                  matTooltipShowDelay="{{tooltipDelay}}">
                  <img class="image" src="assets/images/ritual.png">
                </div>
                <div *ngIf="spell.concentration" class="spell-expansion-icon"
                  matTooltip="{{spell.concentrationTooltip}}" matTooltipShowDelay="{{tooltipDelay}}">
                  <img class="image" src="assets/images/concentration.png">
                </div>
                <div *ngIf="spell.componentsValue || spell.componentsConsumed" class="spell-expansion-icon"
                  matTooltip="{{spell.materialTooltip}}" matTooltipShowDelay="{{tooltipDelay}}">
                  <img class="image" src="assets/images/coins.png">
                </div>
              </div>
              <div class="spell-expansion-header spell-expansion-extra"
                [style.width.px]="expansionPanelWidth < 400 ? expansionPanelWidth - 50 : 350">
                <div *ngIf="!screenSm">{{spell.smallDisplay}}</div>
                <div *ngIf="screenSm">
                  {{spell.school}}
                  <span *ngIf="!screenLg"> - {{spell.componentsDisplayList}}</span>
                </div>
              </div>
            </div>

            <div *ngIf="screenSm" class="spell-expansion-properties" style="margin-left: 345px; width: 75px;">
              {{spell.levelDisplay}}
              <span *ngIf="spell.upcastable" matTooltip="{{spell.upcastableTooltip}}"
                matTooltipShowDelay="{{tooltipDelay}}">
                <img class="image" style="max-height: 10px;" src="assets/images/arrow.png">
              </span>
            </div>

            <div *ngIf="screenMd" class="spell-expansion-properties" style="margin-left: 60px; width: 115px;">
              {{spell.castingTimeDisplayList}}
              <span *ngIf="spell.ritual" matTooltip="{{spell.ritualTooltip}}" matTooltipShowDelay="{{tooltipDelay}}">
                <img class="image" src="assets/images/ritual.png">
              </span>
            </div>

            <div *ngIf="screenLg" class="spell-expansion-properties" style="margin-left: 60px; width: 85px;">
              {{spell.componentsDisplayList}}
              <span *ngIf="spell.componentsValue || spell.componentsConsumed" matTooltip="{{spell.materialTooltip}}"
                matTooltipShowDelay="{{tooltipDelay}}">
                <img class="image" src="assets/images/coins.png">
              </span>
            </div>

            <div *ngIf="screenXl" class="spell-expansion-properties" style="margin-left: 50px; width: 150px;">
              {{spell.range}}
            </div>

            <div *ngIf="screenXl" class="spell-expansion-properties" style="margin-left: 30px; width: 150px;">
              <span *ngIf="spell.concentration" matTooltip="{{spell.concentrationTooltip}}"
                matTooltipShowDelay="{{tooltipDelay}}">
                <img class="image" src="assets/images/concentration.png">
              </span>
              {{spell.durationDisplayList}}
            </div>

          </div>


          <div *ngIf="i === expandedPanelIndex">
            <div class="spell-expansion-name">
              {{spell.name}}
            </div>
            <div class="spell-expansion-extra">
              {{spell.levelSchoolDisplay}}
            </div>
          </div>

          <!-- <div *ngIf="i != expandedPanelIndex" fxLayout="column" style="width: 10px">
            <div class="spell-expansion-header" style="font-size: larger;" fxLayout="row">
              <div style="width: 400px;">{{spell.name}}</div>
              <div style="font-size: medium;">{{spell.castingTime}}</div>
            </div>
            <div class="spell-expansion-header"
              style="font-size: small; font-style: italic; padding-left: 0.25rem; color:gray; ">
              {{spell.levelSchoolDisplay}}
            </div>
          </div>

          <div *ngIf="i === expandedPanelIndex">
            <div style="font-size: larger;">
              {{spell.name}}
            </div>
            <div style="font-size: small; font-style: italic; padding-left: 0.25rem; color:gray; ">
              {{spell.levelSchoolDisplay}}
            </div>
          </div> -->

        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <div>

            <div>
              <span class="spell-property-denotation">Casting time:</span>
              <span class="spell-property-description">{{spell.castingTime}}</span>
            </div>

            <div>
              <span class="spell-property-denotation">Range:</span>
              <span class="spell-property-description">{{spell.range}}</span>
            </div>

            <div>
              <span class="spell-property-denotation">Components:</span>
              <span class="spell-property-description">{{spell.componentsDisplay}}</span>
            </div>

            <div>
              <span class="spell-property-denotation">Duration:</span>
              <span class="spell-property-description">{{spell.duration}}</span>
            </div>

            <div *ngIf="spell.castingAbility.toLowerCase() != 'unknown'">
              <span class="spell-property-denotation">Attack/Save:</span>
              <span class="spell-property-description">{{spell.attacksSavesDisplay}}</span>
            </div>

            <div class="big-top-gap" [innerHTML]="spell.descriptionDisplay"></div>

            <div *ngIf="!spell.translatable" class="medium-top-gap">
              <div class="source-style">
                &#8226; {{spell.source}} &#8226;
              </div>
              <div class="medium-top-gap">
                <mat-divider></mat-divider>
              </div>
            </div>

            <div *ngIf="spell.translatable">
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <div class="source-style">&#8226; {{spell.source}} &#8226;</div>
                <div>
                  <button color="primary" mat-button (click)="onTranslation(spell)">
                    <mat-icon>translate</mat-icon>
                  </button>
                </div>              
              </div>
              <div>
                <mat-divider></mat-divider>
              </div>
            </div>

            <div class="big-top-gap">
              <span class="spell-property-denotation">Classes:</span>
              <mat-chip-list>
                <mat-chip class="spell-class-chip" *ngFor="let spellClass of spell.classes">
                  {{spellClass.name}}
                </mat-chip>
              </mat-chip-list>
              <!-- <span class="spell-property-denotation">Classes:</span>
              <span class="spell-property-description">{{spell.classesDisplay}}</span> -->
            </div>

            <div class="medium-top-gap" *ngIf="spell.subclasses.length">
              <div class="spell-property-denotation">Subclasses:</div>
              <mat-chip-list>
                <mat-chip class="spell-class-chip" *ngFor="let spellSubclass of spell.subclasses" [selectable]=false>
                  {{spellSubclass.name}}
                </mat-chip>
              </mat-chip-list>
              <!-- <span class="spell-property-denotation">Subclasses:</span> -->
              <!-- <span class="spell-property-description">{{spell.subclassesDisplay}}</span> -->
            </div>
                       

            <div class="big-top-gap" *ngIf="showTags && spell.tags.length">
              
              <div>
                <mat-divider></mat-divider>
              </div>

              <div class="medium-top-gap">
                <mat-chip-list>
                  <mat-chip class="spell-tag-chip" *ngFor="let spellTag of spell.tags" selectable="false" selected
                    [style.background]="spellTag.colorCode" [style.color]="spellTag.fontColor" [matTooltip]="spellTag.description">
                    {{spellTag.name}}
                  </mat-chip>
                </mat-chip-list>
              </div>

            </div>   

            <div *ngIf="spell.asset" class="big-top-gap">
              <img src={{spell.assetPath}} style="max-width: 100%; margin-right: 1rem;"/>
            </div>
            <!-- <div *ngIf="spell.asset" >
              <div style="display: none;">
                <img src={{spell.assetPath}} (error)="spellAssetNotLoaded(i, spell.assetPath)"/>
              </div>
              <div *ngIf="i != assetNotLoadedIndex" class="big-top-gap">
                <img src={{spell.assetPath}} style="max-width: 100%; margin-right: 1rem;"/>
              </div>
            </div> -->
            

          </div>
        </ng-template>

      </mat-expansion-panel>

    </mat-accordion>


  </div>
</div>
