.container {
  width: 1250px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.filter-select {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.spell-expansion-header {
  padding-right: 0.1rem;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  width: max-content;
}

.spell-number {
  position: relative;
  width: 4.5rem;
}
.spell-number .content {
  position:absolute;                 
  padding: 0.25rem;
  bottom:0;
  right:0;                                    
}

.spell-property-denotation {
  font-weight: bold;
  min-width: max-content;
}

.spell-property-description {
  padding-left: 0.3rem;
}

.big-top-gap {
  margin-top: 1rem;
}

.medium-top-gap {
  margin-top: 0.5rem;
}

.small-top-gap {
  margin-top: 0.25rem;
}

.spell-class-chip {
  font-size: small;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin-top: 1rem;
}
