<div fxLayout="row" fxLayoutAlign="center">
  <div class="container">



    <!-- <div>
      <strong>Source</strong>
      <select name="source" [(ngModel)]="filterSource">
        <option></option>
        <option *ngFor="let source of optionsSource" [value]="source">{{source}}</option>
      </select>
    </div>

    <div>
      <strong>Class</strong>
      <select name="class" [(ngModel)]="filterClass">
        <option></option>
        <option *ngFor="let class of optionsClasses" [value]="class">{{class.name}}</option>
      </select>
    </div>

    <div>
      <strong>Subclass</strong>
      <select name="subclass" [(ngModel)]="filterSubclass">
        <option></option>
        <option *ngFor="let subclass of optionsSubclasses" [value]="subclass">{{subclass.name}}</option>
      </select>
    </div> -->



    <div>
      <mat-form-field appearance="legacy" style="font-size: larger; margin-left: 0.5rem;">
        <mat-label>
          <mat-icon>search</mat-icon>
        </mat-label>
        <input matInput name="name" [(ngModel)]="filterName" (keyup)="onChange()">
      </mat-form-field>
    </div>


    <mat-accordion hideToggle="false" multi="false">

      <mat-expansion-panel *ngFor="let spell of spellsToShow">

        <mat-expansion-panel-header>

          <div>
            <div style="font-size: larger;">
              {{spell.name}}
            </div>
            <div style="font-size: small; font-style: italic; padding-left: 0.25rem; color:gray">
              {{spell.levelSchoolDisplay}}
            </div>
          </div>

        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <div>

            <div>
              <span class="spell-property-denotation">Casting time:</span>
              <span class="spell-property-description">{{spell.castingTime}}</span>
            </div>

            <div>
              <span class="spell-property-denotation">Range:</span>
              <span class="spell-property-description">{{spell.range}}</span>
            </div>

            <div>
              <span class="spell-property-denotation">Components:</span>
              <span class="spell-property-description">{{spell.componentsDisplay}}</span>
            </div>

            <div>
              <span class="spell-property-denotation">Duration:</span>
              <span class="spell-property-description">{{spell.duration}}</span>
            </div>

            <div class="big-top-gap" [innerHTML]="spell.description"></div>

            <div class="medium-top-gap">
              <mat-divider></mat-divider>
            </div>


            <div class="big-top-gap">
              <span class="spell-property-denotation">Classes:</span>
              <span class="spell-property-description">{{spell.classesDisplay}}</span>
            </div>
            <div *ngIf="spell.subclasses.length">
              <span class="spell-property-denotation">Subclasses:</span>
              <span class="spell-property-description">{{spell.subclassesDisplay}}</span>
            </div>

            <div class="small-top-gap" style="font-style: italic;">{{spell.source}}</div>

          </div>
        </ng-template>

      </mat-expansion-panel>

    </mat-accordion>


  </div>
</div>
