.container {
  width: 1250px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.striked-through {
  text-decoration: line-through;
}

.filter-select {
  // margin-left: 0.5rem;
  // margin-right: 0.5rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  height: 80px;
  width: 125px;
}

.filter-button-select {
  // margin-left: 0.5rem;
  // margin-right: 0.5rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  height: 80px;
  width: 125px;
}

.image {
  max-height: 14px;
  max-width: 20px;
  margin-right: 3px;
  // will-change: transform;
  // transform: translateZ(0);
  // image-rendering: -webkit-optimize-contrast;
}

.filterIcon {
  font-size: 15px;
  width: 20px;
  height: 15px;
}

.dot {
  //min-height: 22px;
  width: 30px;
  margin-right: 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  font-size: xx-small;
}

.border-without-increase {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.right {
  float: right;
}

.bottom {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 10px;
  right: 25px;
}

.spellCount {
  background-color: white;
  z-index: 1000;
  border: solid 1px grey;
  // border-radius: 25px;
  padding: 3px;
  min-width: 100px;
  text-align: center;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1000;
}

.topbar {
  background-color: white;
  border-bottom: solid 1px grey;
  // border-radius: 25px;
  padding-top: 3px;
}

.mat-accordion .mat-expansion-panel:not(.mat-expanded),
.mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing) {
   margin-bottom: 5px;
}

.source-style {
  margin-right: 3px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-style: italic;
}

.spell-expansion-header {
  margin-right: 3px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.spell-expansion-name {
  font-size: larger;
  font-weight: 415;
}

.spell-expansion-icon {
  margin-left: 1px;
}

.spell-expansion-extra {
  font-size: small;
  font-style: italic;
  margin-left: 0.25rem;
  color:gray; 
}

.spell-expansion-properties {
  padding-top: 0.5rem;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 10px;
}

.spell-expansion-propertiesSpecial {
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 10px;
}

.spell-property-denotation {
  font-weight: bold;
  min-width: max-content;
}

.spell-property-description {
  padding-left: 0.3rem;
}

.total {
  margin-left: 3px;
  margin-right: 3px;
  padding-right: 3px;
  border-radius: 30%;
}

.big-top-gap {
  margin-top: 1rem;
}

.big-gap {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.medium-top-gap {
  margin-top: 0.5rem;
}

.medium-gap {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.small-top-gap {
  margin-top: 0.25rem;
}

.small-gap {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.spell-class-chip {
  font-size: small;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin-top: 1rem;
}

.spell-tag-chip {
  //font-weight: bold;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  margin-top: 1rem;
}

.filter-selection-number {
  font-style: italic;
  opacity: 0.75;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.infobutton {
  max-width: 30px;
  max-height: 25px;
}

.dialog-icon {
  height: 1px;
  //margin-right: 0.1rem;
}

.dialog-toggle {
  margin-left: 5px;
  margin-right: 5px;
}

.dialog-description {
  margin-left: 5px;
}

.character-spell {
  width: 55px;
}

.character-cantrip {
  width: 55px;
}

.character-large {
  width: 155px;
}

.character-maxInput {
  margin-left: 5px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10%;
  width: 50px;
  text-align: center;
}