
<mat-sidenav-container class="nav-container">
    
    <!-- sidenav for the rules menu -->
    <mat-sidenav mode="over" [autoFocus]="false" [opened]="sidebarOpen" (closed)="sidebarOpen = false" (closed)="triggerResetMenu()" class="sidenav-container">
        
        <button mat-icon-button (click)="sidebarOpen = false" class="bookmark bookmark-close">
            <mat-icon>close</mat-icon>
        </button>

        <button mat-icon-button (click)="openSearchDialog()" class="bookmark bookmark-search">
            <mat-icon>search</mat-icon>
        </button>

        <h3 class="sidenav-header" routerLink="{{breadcrumbRootRoute}}">{{tocName}} - ToC</h3>

        <app-markdown-menu [mainMenu]="completeContent"></app-markdown-menu>
    </mat-sidenav>

    <!-- Article content -->
    <mat-sidenav-content>

        <app-main-header></app-main-header>

        <div class="page" fxLayout="row" fxLayoutAlign="center">
            <div class="container">     
                    
                <!-- Breadcrumb-Control -->
                <div fxLayout="row" fxLayoutAlign="space-between center" [ngClass]="isMobile ? 'breadcrumbs-mobile' : 'breadcrumbs-desktop'">
                    
                    <div fxLayout="row" fxLayoutAlign="start center">

                        <!-- Sidebar toggle button -->
                        <button *ngIf="isMobile" mat-icon-button color="primary" (click)="sidebarOpen = !sidebarOpen" style="margin-left: -15px; margin-right: 5px;">
                            <mat-icon>toc</mat-icon>
                        </button>
                        
                        <!-- Breadcrumbs -->
                        <div fxLayout="row wrap" fxLayoutAlign="start center">
                            <a routerLink="{{breadcrumbRootRoute}}">{{breadcrumbRootName}}</a>
                            <div *ngFor="let breadcrumb of breadcrumbs" fxLayout="row" fxLayoutAlign="start center">
                                <div style="margin-left: 5px; margin-right: 5px;">></div>
                                <a routerLink="{{breadcrumb.route}}">{{breadcrumb.name}}</a>
                            </div>
                        </div>

                    </div>                    

                    <!-- round campaign marker -->
                    <mat-chip *ngIf="handle != undefined" [style.background]="handleColor" [matTooltip]="handleTooltip">
                        <span [style.color]="handleTextColor">{{handle}}</span>
                    </mat-chip>
                    
                </div>

                <!-- Headline -->
                <h1 [ngClass]="{'h1-article-mobile' : isMobile}">{{headline}}</h1>
        
                <!-- article content with existing markdown source -->
                <div *ngIf="markDownSource.length > 0">
        
                    <div *ngIf="children.length > 0" fxLayout="row wrap" fxLayoutAlign="start center" style="margin-bottom: -15px;">
                        <div *ngFor="let articleContent of children">
                            <a routerLink="{{articleContent.path}}" mat-button color="primary" style="text-decoration: underline;">{{articleContent.name}}</a>
                        </div> 
                    </div>              
            
                    <div *ngIf="needStartGap" class="gap"></div>

                    <div *ngIf="isContentLoaded && markDownSource.length > 0" class="markdown" markdown [src]="markDownSource"></div>
        
                </div>
        
                <!-- article content without existing markdown source -->
                <div *ngIf="markDownSource.length < 1">
        
                    <!-- show table of contents for this sub structure -->
                    <app-markdown-menu [majorMode]="true" [allExpanded]="false" [subMenu]="content"></app-markdown-menu>

                    <!-- build Card Overview for all children -->
                    <!-- <div *ngIf="children.length > 0" fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center center">
        
                        <div *ngFor="let rulesContent of children">
                            <mat-card routerLink="{{rulesContent.path}}" routerLinkActive="menu-linkactive" style="cursor: pointer;" class="card-link-article">
                                <mat-card-content>
                                    <mat-card-title>{{rulesContent.name}}</mat-card-title>
                                </mat-card-content>
                            </mat-card>
                        </div>   
                    
                    </div> -->
        
                </div>           

            </div>

        </div>

    </mat-sidenav-content>

</mat-sidenav-container>




