$pageWidth:var(--pageWidth);
$pageHeight:var(--pageHeight);
$cardWidth:var(--cardWidth);
$cardHeight:var(--cardHeight);
$backgroundColor:var(--backgroundColor);
$fontColor:var(--fontColor);
$descriptionSize:var(--descriptionSize);

.toolbar
{
	max-width: 210mm;
	width: fit-content;
	border: 1px solid grey;
	padding: 5px;
}

.toolbarItem
{
	width: 100%;
}

.divider
{
	width: 100%;
	margin-top: 7.5px;
	margin-bottom: 7.5px;
}

.under
{
	margin-top: 10px;
}

.toggle
{
	margin-left: 3px;
}

.a4
{
	width: $pageWidth;
	height: $pageHeight;
}

.lined
{
	border-bottom: 2px solid $backgroundColor;	
}

.card
{
	float: left;
	width: $cardWidth;
	height: $cardHeight;
	padding: 0;	
	position: relative;
	margin:0px;	
	vertical-align: top;	
	text-align: left;	
	z-index: 1;
	margin:0 1px 1px 0;
    page-break-after: auto!important;
	page-break-inside: avoid!important;
	background-color: $backgroundColor!important;
}

.front
{	
	height: 100%;
	width: 100%;	
	padding: 10px 10px 25px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	position: absolute;
	top:0;
	left: 0;
}

.body
{
	background-color: white!important;
	border-radius: 5px;
	height: 100%;	
	overflow: hidden;
}

.caption {
	overflow: hidden;
	height: 28px;
}

.name
{	
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500; //standard = 400
    color: inherit;
	line-height: normal;
	//height: 16px;
	padding: 5px 4px;	
	margin: 0px;
	text-transform: uppercase;
	text-align: center;
}

.icon {
	width: 24px;
	height: 24px;
	max-width: 24px;
	max-height: 24px;
}

.ritual {
	max-height: 18px;
	max-width: 18px;
	margin-right: 8px;
}

.props
{
	text-align: center;
	padding: 2px 4px;
	font-size: 9px;
	line-height: 9px;
	min-height: 25px;
	width: 50%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.propertyCaption
{
	font-style: normal;
	text-transform: uppercase;
	display: block;	
	color: $backgroundColor!important;
	font-weight: bold;
	padding-bottom: 2px;
	width: 100%;
}

.rightLined
{
	border-right: 1px solid $backgroundColor;	
}

.leftLined
{
	border-left: 1px solid $backgroundColor;	
}

.materials
{
	width: 100%;
	color: $fontColor!important;
	background-color: $backgroundColor!important;
	display: block;
	padding: 2px 4px 4px;
	font-weight: normal;
	font-style: italic;
	line-height: 100%;
	font-size: 8px;
}

.attacksSaves
{
	max-width: 90%;
	width: fit-content;
	text-align: center;
	display: block;
	padding: 2px 6px;
	font-weight: normal;
	line-height: 9px;
	font-size: 9.5px;
	border-bottom: 2px solid $backgroundColor;	
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-left: 2px solid $backgroundColor;	
	border-right: 2px solid $backgroundColor;	
}

.description
{
	//font-family: "Helvetica Condensed", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 2px 4px;
	font-size: $descriptionSize;
	line-height: 90%;
	margin: 0;
}

.footer
{
	padding: 1px;
	margin-top: 2px;
}

.source
{
	//position: absolute;
	bottom: 8px;
	color: $fontColor!important;
	left: 10px;
	font-size: 10.5px;
	font-weight: normal;
}

.school
{
	bottom: 8px;
	color: $fontColor!important;
	right: 10px;
	font-size: 10.5px;
	font-weight: normal;
}
