<div>
    
    <div class="hidePrint toolbar" fxLayout="row wrap" fxLayoutAlign="space-around center">
        <button mat-stroked-button color="primary" (click)="onPrint()">
            <mat-icon>print</mat-icon>
        </button>
        <mat-slide-toggle [(ngModel)]="showIcons" (ngModelChange)="onChange()" color="primary">show icons</mat-slide-toggle>
        <mat-slide-toggle [(ngModel)]="ritualAsIcon" (ngModelChange)="onChange()" color="primary">show ritual as icon</mat-slide-toggle>
    </div>    
 

    <div id="sectionToPrint" class="a4">        
        <div class="card" *ngFor="let spell of spellsToPrint">
            <div class="front">
                <div class="body">
                    <div class="caption lined" fxLayout="row" fxLayoutAlign="space-between stretch">
                        <div class="caption" style="width: 100%">
                            <div [id]="'name' + spell.id" class="name" [ngStyle]="{'font-size': spell.nameSize + 'px'}">
                                {{spell.name}}
                            </div>
                        </div>  
                        <div *ngIf="spell.ritual && ritualAsIcon && (!spell.ritualCast || !showIcons)">
                            <img class="icon" src={{images.spellRitual}}>
                        </div>                      
                        <div *ngIf="showIcons && spell.always" class="icon">
                            <div><mat-icon>star</mat-icon></div>
                        </div>
                        <div *ngIf="showIcons && spell.limited" class="icon">
                            <div><mat-icon>repeat_one_on</mat-icon></div>
                        </div>
                        <div *ngIf="showIcons && spell.ritualCast" class="icon">
                            <div><mat-icon>menu_book</mat-icon></div>
                        </div>
                    </div>
                    <div [id]="'properties' + spell.id" class="lined" fxLayout="row" fxLayoutAlign="space-between stretch">
                        <div class="props rightLined" fxLayout="row" fxLayoutAlign="center stretch">
                            <div *ngIf="spell.ritual"><img class="ritual" src={{images.spellRitual}}></div>
                            <div>
                                <div class="propertyCaption">casting time</div>
                                <div class="propertyVaule">{{spell.castingTime}}</div>
                            </div>
                        </div>
                        <div class="props leftLined" fxLayout="column">
                            <div class="propertyCaption">range</div>
                            <div class="propertyVaule">{{spell.range}}</div>
                        </div>                        
                    </div>
                    <div class="lined" fxLayout="row" fxLayoutAlign="space-between stretch">
                        <div class="props rightLined">
                            <div class="propertyCaption">components</div>
                            <div class="propertyVaule">{{spell.components}}</div>
                        </div>
                        <div class="props leftLined" fxLayout="column">
                            <div class="propertyCaption">duration</div>
                            <div class="propertyVaule">{{spell.duration}}</div>
                        </div>
                    </div>                               
                    <span *ngIf="spell.hasMaterials" class="materials">{{spell.materials}}</span>
                    <div [id]="'description' + spell.id" class="description" [innerHTML]="spell.description"></div>      
                </div>    		
                <div [id]="'footer' + spell.id" class="footer" fxLayout="row" fxLayoutAlign="space-between" >
                    <div class="source">{{spell.forWho}}</div>
                    <div class="school">{{spell.levelSchool}}</div>
                </div>                
            </div>
        </div>
    </div>

</div>