<div>
    
    <div class="hidePrint">
        <div class="toolbar" fxLayout="column" fxLayoutAlign="center start">
            <div class="toolbarItem">
                <button mat-button [matMenuTriggerFor]="menu"><mat-icon color="primary">border_color</mat-icon> Choose color preset</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item *ngFor="let preset of colorPresets" (click)="onPresetChosen(preset)">{{preset.name}}</button>
                </mat-menu>  
            </div>  
            <div class="toolbarItem under" fxLayout="row wrap" fxLayoutAlign="start center">
                <div class="toolbarBold" style="margin-right: 3px;">Color:</div>
                <input matInput type="color" [(ngModel)]="backgroundColor" (ngModelChange)="changeColor()" 
                style="height: 30px; width: 50px; background-color: white; padding: 0px"
                matTooltip="{{backgroundColor}}" matTooltipShowDelay="1000">
                <mat-slide-toggle class="toggle" [(ngModel)]="fontIsWhite" (ngModelChange)="changeColor()" color="primary">white highlighting</mat-slide-toggle>
            </div>            

            <mat-divider class="divider"></mat-divider>

            <div class="toolbarItem">
                <mat-form-field style="width: 90%">
                    <mat-label>Card size</mat-label>
                    <mat-select [(ngModel)]="selectedCardSizePreset" (ngModelChange)="onCardPropChange()">
                        <mat-option *ngFor="let preset of cardSizePresets" [value]="preset">
                            {{preset.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>            
            <div class="toolbarItem" fxLayout="row wrap" fxLayoutAlign="start center">
                <!-- <mat-icon color="primary">text_format</mat-icon> -->
                <div class="toolbarBold">Description size:</div>         
                <mat-radio-group color="primary" [(ngModel)]="selectedDescriptionSize" (ngModelChange)="onCardPropChange()">
                    <mat-radio-button style="margin-left: 5px;" *ngFor="let size of descriptionSizes" [value]="size">
                        {{size.name}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>  

            <mat-divider class="divider"></mat-divider>

            <div class="toolbarItem" *ngIf="characterCards" fxLayout="row wrap" fxLayoutAlign="start center">
                <mat-icon>star</mat-icon>
                <mat-icon>repeat_one_on</mat-icon>
                <mat-icon>menu_book</mat-icon>
                <mat-slide-toggle class="toggle" [(ngModel)]="showIcons" (ngModelChange)="onNameFieldChange()" color="primary">character icons in caption</mat-slide-toggle>
            </div>
            <div class="toolbarItem under" fxLayout="row wrap" fxLayoutAlign="start center">
                <img class="icon" src={{images.spellRitual}}>
                <mat-slide-toggle class="toggle" [(ngModel)]="ritualAsIcon" (ngModelChange)="onNameFieldChange()" color="primary">ritual icon in caption</mat-slide-toggle>
            </div>
            <div class="toolbarItem under" fxLayout="row wrap" fxLayoutAlign="start center">
                <div class="toolbarBold">(Ritual)</div>
                <mat-slide-toggle class="toggle" [(ngModel)]="ritualAsParenthesis" (ngModelChange)="onNameFieldChange()" color="primary">ritual in parenthesis</mat-slide-toggle>
            </div>   

        </div>
        <button mat-stroked-button color="primary" style="margin: 10px" (click)="onPrint()">
            <mat-icon>print</mat-icon>
        </button>
    </div>
 

    <div id="sectionToPrint">        
        <div class="card print" *ngFor="let spell of spellsToPrint; let i=index">
            <div class="front">
                <div class="body">
                    <div class="caption lined" fxLayout="row" fxLayoutAlign="space-between stretch">
                        <div class="caption" style="width: 100%">
                            <div [id]="'name' + spell.id" class="name" [ngStyle]="{'font-size': spell.nameSize + 'px'}">
                                {{spell.name}}<span *ngIf="ritualAsParenthesis && spell.ritual"> (Ritual)</span>{{spell.nameEnumeration}}
                            </div>
                        </div>  
                        <div *ngIf="spell.ritual && ritualAsIcon && (!spell.ritualCast || !showIcons)">
                            <img class="icon" src={{images.spellRitual}}>
                        </div>                      
                        <div *ngIf="showIcons && spell.always" class="icon">
                            <div><mat-icon>star</mat-icon></div>
                        </div>
                        <div *ngIf="showIcons && spell.limited" class="icon">
                            <div><mat-icon>repeat_one_on</mat-icon></div>
                        </div>
                        <div *ngIf="showIcons && spell.ritualCast" class="icon">
                            <div><mat-icon>menu_book</mat-icon></div>
                        </div>
                    </div>
                    <div [id]="'properties' + spell.id" class="lined" fxLayout="row" fxLayoutAlign="space-between stretch">
                        <div class="props rightLined" fxLayout="row" fxLayoutAlign="center stretch">
                            <div *ngIf="spell.ritual" fxLayoutAlign="center center"><img class="iconProps" src={{images.spellRitual}}></div>
                            <div>
                                <div class="propertyCaption">casting time</div>
                                <div class="propertyVaule">{{spell.castingTime}}</div>
                            </div>
                        </div>
                        <div class="props leftLined" fxLayout="column">
                            <div class="propertyCaption">range</div>
                            <div class="propertyVaule">{{spell.range}}</div>
                        </div>                        
                    </div>
                    <div class="lined" fxLayout="row" fxLayoutAlign="space-between stretch">
                        <div class="props rightLined" fxLayout="row" fxLayoutAlign="center stretch">
                            <div *ngIf="spell.materialValue" fxLayoutAlign="center center"><img class="iconProps" src={{images.spellCoins}}></div>
                            <div>
                                <div class="propertyCaption">components</div>
                                <div class="propertyVaule">{{spell.components}}</div>
                            </div>
                        </div>
                        <div class="props leftLined" fxLayout="row" fxLayoutAlign="center stretch">
                            <div *ngIf="spell.concentration" fxLayoutAlign="center center"><img class="iconProps" src={{images.spellConcentration}}></div>
                            <div>
                                <div class="propertyCaption">duration</div>
                                <div class="propertyVaule">{{spell.duration}}</div>
                            </div>                            
                        </div>
                    </div>                               
                    <div style="width: 100%" fxLayout="column" fxLayoutAlign="start center">
                        <span *ngIf="spell.hasMaterials" class="materials">{{spell.materials}}</span>
                        <span *ngIf="spell.attacksSaves.length > 0" class="attacksSaves">{{spell.attacksSaves}}</span>
                    </div>                    
                    <div [id]="'description' + spell.id" class="description" [innerHTML]="spell.description"></div>      
                </div>    		
                <div [id]="'footer' + spell.id" class="footer" fxLayout="row" fxLayoutAlign="space-between" >
                    <div class="source">{{spell.forWho}}</div>
                    <div class="school">{{spell.levelSchool}}</div>
                </div>                
            </div>
        </div>
    </div>

</div>