<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="CsvDelimiters" value=";"/>
      <add key="CsvCommentTokens" value="#"/>
      <add key="ColumnNumberLevel" value="1"/>
      <add key="ColumnNumberName" value="2"/>
      <add key="ColumnNumberSchool" value="3"/>
      <add key="ColumnNumberCastingTime" value="4"/>
      <add key="ColumnNumberRange" value="5"/>
      <add key="ColumnNumberMaterials" value="6"/>
      <add key="ColumnNumberDuration" value="7"/>
      <add key="ColumnNumberText" value="8"/>
      <add key="ColumnNumberSource" value="9"/>
      <add key="ColumnNumberClasses" value="10"/>
      <add key="ColumnNumberAllowed" value="11"/>
      <add key="ColumnNumberDamageType" value="12"/>
      <add key="ColumnNumberCondition" value="13"/>
      <add key="ColumnNumberSave" value="14"/>
      <add key="ColumnNumberAttack" value="15"/>
      <add key="ColumnNumberTargets" value="16"/>
      <add key="ColumnNumberArea" value="17"/>
      <add key="ColumnNumberCastingAbility" value="18"/>
      <add key="ColumnNumberGrittyRealism" value="19"/>
      <add key="ColumnNumberTranslation" value="20"/>
      <add key="ColumnNumberTags" value="21"/>
      <add key="ColumnNumberThemes" value="22"/>
      <add key="MinSimilarityForMerge" value="70"/>
      <add key="ExportJsonFileName" value="spells"/>
      <add key="ExportClassesJsonFileName" value="spellProperties"/>
      <add key="ClassListPath" value="D:\OneDrive\D&amp;D\Website Content\Zauber\Master_Classes.csv"/>
      <add key="TagListPath" value="D:\OneDrive\D&amp;D\Website Content\Zauber\Master_Tags.csv"/>
      <add key="AssetPath" value="D:\OneDrive\D&amp;D\Website Content\Zauber\Spell Images"/>
      <add key="PresetPath" value="D:\OneDrive\D&amp;D\Website Content\Zauber\Presets"/>
    </appSettings>
</configuration>