/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Markdown definitions */
.markdown h2 { 
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 22px;
    text-decoration: underline;
}

.markdown h3 { 
    margin-top: 25px;
    margin-bottom: 7px;
    font-size: 19px;
}

.markdown h4 { 
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 17px;
    font-style: italic;
}

.markdown h5 { 
    margin-top: 15px;
    margin-bottom: 3px;
    font-size: 15px;
    font-weight: bolder;
}

.markdown table {
    margin-bottom: 15px;
}

.markdown p {
    margin-bottom: 7px;
}

.markdown td, th {
    padding-left: 5px;
    padding-right: 5px;
}

.markdown ul {
    //margin-top: 5px;
}

.markdown .startgap {
    margin-top: 25px;
}

.markdown .listNoGap {
    margin-top: -12px;
}