/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;


html, body { height: 100%; }
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;

//   @include mat.theme((
//     color: (
//       theme-type: light,
//       primary: mat.$azure-palette,
//       tertiary: mat.$blue-palette,
//     ),
//     typography: Roboto,
//     density: 0,
//   ));
}

//format for highlight pipe for search
.highlight {
    font-weight: bold;
    color: #3F51B5;
    //font-size: larger;
}

/* Markdown definitions */
.markdown h2 { 
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 22px;
    text-decoration: underline;
}

.markdown h3 { 
    margin-top: 25px;
    margin-bottom: 7px;
    font-size: 19px;
}

.markdown h4 { 
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 17px;
    font-style: italic;
}

.markdown h5 { 
    margin-top: 15px;
    margin-bottom: 3px;
    font-size: 15px;
    font-weight: bolder;
}

.markdown p {
    margin-bottom: 7px;
}

.markdown table {
    margin-bottom: 15px;
    border-collapse: collapse;
}
.markdown td, th {
    padding-left: 5px;
    padding-right: 5px;
    
}
.markdown tr {
    border-bottom: 1px solid lightgrey;
}
.markdown tr:last-child {
    /* row border */
    border-bottom: 0px solid lightgrey!important;
}

.markdown ul, .markdown ol {
    padding-left: 10px;
    margin-left: 7px;
}

.markdown .startgap {
    margin-top: 25px;
}

.markdown .listNoGap {
    margin-top: -12px;
}

.markdown .image {
    max-width: min(100%, 800px);
    height: auto;
}