.card-link {
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 250px;
    background-color: #3F51B5;
    color: white;
}