<app-main-header></app-main-header>

<div>

  <div fxLayout="column" fxLayoutAlign="start center" style="margin-top: 25px;">

    <mat-card color="primary" routerLink="/spells" routerLinkActive="menu-linkactive" class="card-link">
      <mat-card-content>
           <mat-card-title>Spells</mat-card-title>
      </mat-card-content>
    </mat-card>
  
    <mat-card routerLink = "/feats" routerLinkActive="menu-linkactive" style="cursor: pointer;" class="card-link">
      <mat-card-content>
           <mat-card-title>Feats</mat-card-title>
      </mat-card-content>
    </mat-card>

  </div>  

</div>
