.container{
    max-width: 1250px;
}

.spell-property-denotation{
    font-weight: bold;
}

.spell-property-description{
    padding-left: 0.3rem;
}

.big-top-gap{
    padding-top: 1rem;
}

.medium-top-gap{
    padding-top: 0.5rem;
}

.small-top-gap{
    padding-top: 0.25rem;
}