.container{
    width: 1250px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.spell-property-denotation{
    font-weight: bold;
    min-width: max-content;
}

.spell-property-description{
    padding-left: 0.3rem;
}

.big-top-gap{
    padding-top: 1rem;
}

.medium-top-gap{
    padding-top: 0.5rem;
}

.small-top-gap{
    padding-top: 0.25rem;
}